@use "sass:math";

// @import "config/animations";
@import "config/reset";
@import "config/fonts";
@import "config/vars";
@import "config/scrollbar";
@import "config/global";
@import "config/mixins";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500;600;700&display=swap");
// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Open Sans", sans-serif;
$fontSize: 16px;

// Основные цвета
$mainColor: #dedede; // Цвет шрифта по умолчанию

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1800;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 60;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: 1400px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 768px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 320px; // Телефоны

body {
  font-weight: 400;
  font-style: normal;
  min-width: 320px;
  background: #e5e5e5;

  // Скролл заблокирован
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  // Сайт загружен
  // .loaded & {
  // }
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================

.wrapper {
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

// По брейк-поинтам
[class*="__container"] {
  // > 1400
  @media (min-width: $pc) {
    max-width: 1384px;
    padding: 0 30px;
  }

  // 768 - 1400
  @media (min-width: $tablet) {
    max-width: 768px;
    padding: 0 20px;
  }

  // 320 - 768
  @media (min-width: $mobile) {
    max-width: 310px;
    padding: 0 10px;
  }
}

@import "home";
@import "footer";
@import "header";
// @import "config/popup";
